</head>
    <title>Landing Page</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href='{% static "style.css" %%}'>
    <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<body>
    <div class="container-fluid text-center">
        <div class="col-12">
            <h1>Halo, apa kabar?</h1>
        </div>
        <div class="col-12">
            <form action="{%url 'submit_form'%}"method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <p> Yuk isi status Anda di sini UwU</p>
                </div>
                {{ status_form }}
                <div class="row"> 
                    <div class="col-6">
                        <button type="submit" id="simpan" class="btn btn-primary" name="submit">Submit</button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'output'%}" class="btn btn-primary" name="status">Check Status</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
