</head>
    {% load static %}
    {% load crispy_forms_tags %}
    <title>Status List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href='{% static "style.css" %%}'>
    <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<body>
  <h1>Daftar Status</h1>
  <br><br>
  <div class="container">
   <div class="row  justify-content-center">
      {%if output%}
      <div class="col">
        <table class="table table-bordered table-striped table-responsive-md table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col">Change Button</th>
            </tr>
          </thead>
          <tbody>
            {%for item in output reversed%}
            <tr>
              <td>{{item.status}}</th>
              <td>{{item.date}}</th>
              <td>
                <form action="{%url 'edit_status' item.id%}"method="POST">
                   {% csrf_token %}
                   <div class="row"> 
                   <div class="col-6">
                      {{form|crispy}}
                    </div>
                    <div class="col-6">
                      <button type="submit" id="simpan" class="btn btn-xs btn-primary" name="submit">Ubah</button>
                    </div>
                </form>
             </td>            
            </tr>
          {% endfor%}
          </tbody>
        </table>
      </div>
      {%else%}
      <div class="col">
        <h3>Anda belum mengisi status apapun OwO</p>
      </div>
      {%endif%}
    </div>
   </div>
</body>